In [0]:
import pandas as pd

In [0]:
taxi_zones = pd.read_csv('/content/drive/My Drive/DV_data/taxi+_zone_lookup.csv', usecols=['LocationID','Borough'])
green_taxis = pd.read_csv('/content/drive/My Drive/DV_data/green_tripdata_2019-12.csv')
yellow_taxis = pd.read_csv('/content/drive/My Drive/DV_data/yellow_tripdata_2019-12.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
taxi_zones_dict = taxi_zones.set_index('LocationID')['Borough'].to_dict()
green_taxis

        VendorID lpep_pickup_datetime  ... trip_type congestion_surcharge
0            1.0  2019-12-01 00:09:45  ...       1.0                  0.0
1            2.0  2019-12-01 00:26:05  ...       1.0                  0.0
2            2.0  2019-12-01 00:56:36  ...       1.0                  0.0
3            2.0  2019-12-01 00:26:20  ...       1.0                  0.0
4            2.0  2019-12-01 00:56:36  ...       1.0                  0.0
...          ...                  ...  ...       ...                  ...
450622       NaN  2019-12-31 23:26:00  ...       NaN                  NaN
450623       NaN  2019-12-31 23:02:00  ...       NaN                  NaN
450624       NaN  2019-12-31 23:24:00  ...       NaN                  NaN
450625       NaN  2019-12-31 23:16:00  ...       NaN                  NaN
450626       NaN  2019-12-31 23:52:00  ...       NaN                  NaN

[450627 rows x 20 columns]

In [0]:
green_taxi_replaced = green_taxis.replace({'PULocationID': taxi_zones_dict}).replace({'DOLocationID': taxi_zones_dict})

In [0]:
green_taxi_replaced

        VendorID lpep_pickup_datetime  ... trip_type congestion_surcharge
0            1.0  2019-12-01 00:09:45  ...       1.0                  0.0
1            2.0  2019-12-01 00:26:05  ...       1.0                  0.0
2            2.0  2019-12-01 00:56:36  ...       1.0                  0.0
3            2.0  2019-12-01 00:26:20  ...       1.0                  0.0
4            2.0  2019-12-01 00:56:36  ...       1.0                  0.0
...          ...                  ...  ...       ...                  ...
450622       NaN  2019-12-31 23:26:00  ...       NaN                  NaN
450623       NaN  2019-12-31 23:02:00  ...       NaN                  NaN
450624       NaN  2019-12-31 23:24:00  ...       NaN                  NaN
450625       NaN  2019-12-31 23:16:00  ...       NaN                  NaN
450626       NaN  2019-12-31 23:52:00  ...       NaN                  NaN

[450627 rows x 20 columns]

In [0]:
green_taxi_replaced.rename(columns={"PULocationID": "source", "DOLocationID": "target"}).groupby(["source", "target"]).size().to_frame(name='value').reset_index().to_json(orient='records')

'[{"source":"Bronx","target":"Bronx","value":21557},{"source":"Bronx","target":"Brooklyn","value":1678},{"source":"Bronx","target":"EWR","value":1},{"source":"Bronx","target":"Manhattan","value":7598},{"source":"Bronx","target":"Queens","value":1384},{"source":"Bronx","target":"Staten Island","value":16},{"source":"Bronx","target":"Unknown","value":317},{"source":"Brooklyn","target":"Bronx","value":1742},{"source":"Brooklyn","target":"Brooklyn","value":96673},{"source":"Brooklyn","target":"EWR","value":67},{"source":"Brooklyn","target":"Manhattan","value":16357},{"source":"Brooklyn","target":"Queens","value":7342},{"source":"Brooklyn","target":"Staten Island","value":130},{"source":"Brooklyn","target":"Unknown","value":476},{"source":"EWR","target":"Bronx","value":1},{"source":"EWR","target":"EWR","value":9},{"source":"EWR","target":"Manhattan","value":2},{"source":"EWR","target":"Unknown","value":1},{"source":"Manhattan","target":"Bronx","value":12718},{"source":"Manhattan","target":"Brooklyn","value":3470},{"source":"Manhattan","target":"EWR","value":88},{"source":"Manhattan","target":"Manhattan","value":135833},{"source":"Manhattan","target":"Queens","value":4689},{"source":"Manhattan","target":"Staten Island","value":14},{"source":"Manhattan","target":"Unknown","value":461},{"source":"Queens","target":"Bronx","value":1410},{"source":"Queens","target":"Brooklyn","value":6648},{"source":"Queens","target":"EWR","value":8},{"source":"Queens","target":"Manhattan","value":7154},{"source":"Queens","target":"Queens","value":120730},{"source":"Queens","target":"Staten Island","value":29},{"source":"Queens","target":"Unknown","value":911},{"source":"Staten Island","target":"Bronx","value":5},{"source":"Staten Island","target":"Brooklyn","value":53},{"source":"Staten Island","target":"Manhattan","value":19},{"source":"Staten Island","target":"Queens","value":27},{"source":"Staten Island","target":"Staten Island","value":42},{"source":"Staten Island","target":"Unknown","value":1},{"source":"Unknown","target":"Bronx","value":49},{"source":"Unknown","target":"Brooklyn","value":61},{"source":"Unknown","target":"Manhattan","value":39},{"source":"Unknown","target":"Queens","value":135},{"source":"Unknown","target":"Unknown","value":682}]'

In [0]:
green_taxi_replaced.rename(columns={"PULocationID": "source", "DOLocationID": "target"}).groupby(["source", "target"]).size()

source         target
Bronx          Bronx             21557
               Brooklyn           1678
               EWR                   1
               Manhattan          7598
               Queens             1384
               Staten Island        16
               Unknown             317
Brooklyn       Bronx              1742
               Brooklyn          96673
               EWR                  67
               Manhattan         16357
               Queens             7342
               Staten Island       130
               Unknown             476
EWR            Bronx                 1
               EWR                   9
               Manhattan             2
               Unknown               1
Manhattan      Bronx             12718
               Brooklyn           3470
               EWR                  88
               Manhattan        135833
               Queens             4689
               Staten Island        14
               Unknown             461
Queens         Bronx              1410
               Brooklyn           6648
               EWR                   8
               Manhattan          7154
               Queens           120730
               Staten Island        29
               Unknown             911
Staten Island  Bronx                 5
               Brooklyn             53
               Manhattan            19
               Queens               27
               Staten Island        42
               Unknown               1
Unknown        Bronx                49
               Brooklyn             61
               Manhattan            39
               Queens              135
               Unknown             682
dtype: int64

In [0]:
def convert_timestamp_to_date(x):
  return x.split(" ")[0]

In [0]:
green_taxis['start_time'] = green_taxis['lpep_pickup_datetime'].apply(convert_timestamp_to_date)

In [0]:
green_taxis["start_time"].unique()

array(['2019-12-01', '2019-11-30', '2019-12-02', '2019-12-03',
       '2019-12-04', '2009-01-01', '2019-12-05', '2019-12-06',
       '2019-12-07', '2019-12-08', '2019-12-09', '2019-12-10',
       '2010-09-23', '2035-09-02', '2019-12-11', '2008-12-31',
       '2019-12-12', '2019-12-13', '2020-01-24', '2020-02-14',
       '2020-01-03', '2019-12-14', '2019-12-15', '2020-03-08',
       '2020-03-29', '2019-12-16', '2019-12-17', '2020-04-01',
       '2020-04-22', '2019-12-18', '2019-12-19', '2019-12-20',
       '2019-12-21', '2019-12-22', '2019-12-23', '2019-12-24',
       '2019-12-25', '2019-12-26', '2019-12-27', '2019-12-28',
       '2019-12-29', '2019-12-30', '2019-12-31', '2020-01-01'],
      dtype=object)

In [0]:
start_time_green = green_taxis.groupby("start_time")['trip_distance', 'passenger_count', 'fare_amount', 'tip_amount'].sum().reset_index()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [0]:
def get_year(x):
  return x.split("-")[0]
  
start_time_green["year"] = start_time_green['start_time'].apply(get_year)

In [0]:
indexNames = start_time_green[(start_time_green['year'] != '2019') | (start_time_green['start_time'] == '2019-11-30')].index
 
start_time_green.drop(indexNames , inplace=True)
start_time_green.reset_index()

    index  start_time  trip_distance  ...  fare_amount  tip_amount  year
0       4  2019-12-01       32156.34  ...    153787.82    11013.21  2019
1       5  2019-12-02       45471.71  ...    206936.73    12935.13  2019
2       6  2019-12-03       52533.19  ...    242161.61    14416.29  2019
3       7  2019-12-04       56757.41  ...    260132.29    15111.55  2019
4       8  2019-12-05      136802.17  ...    282098.52    17254.06  2019
5       9  2019-12-06       49592.84  ...    283350.61    17262.29  2019
6      10  2019-12-07       49347.66  ...    241445.25    18406.89  2019
7      11  2019-12-08       42533.74  ...    206689.66    13501.72  2019
8      12  2019-12-09       45562.40  ...    239994.79    14143.58  2019
9      13  2019-12-10       51029.28  ...    261113.72    14641.34  2019
10     14  2019-12-11       51565.36  ...    258267.28    15168.80  2019
11     15  2019-12-12       55191.08  ...    285828.31    16955.67  2019
12     16  2019-12-13       56284.14  ...    280918.30    18563.19  2019
13     17  2019-12-14       51673.82  ...    246155.16    17979.89  2019
14     18  2019-12-15       45315.09  ...    213129.73    14619.76  2019
15     19  2019-12-16       49353.36  ...    243800.11    14291.76  2019
16     20  2019-12-17       52190.20  ...    248104.84    15161.36  2019
17     21  2019-12-18       55838.75  ...    264761.26    15777.20  2019
18     22  2019-12-19       58888.11  ...    272830.15    18218.90  2019
19     23  2019-12-20       58468.56  ...    273822.65    17385.33  2019
20     24  2019-12-21       50394.95  ...    222349.99    14449.92  2019
21     25  2019-12-22       41913.49  ...    185189.88    10810.98  2019
22     26  2019-12-23       47129.77  ...    213879.84    11506.81  2019
23     27  2019-12-24       42650.06  ...    191476.81     9884.30  2019
24     28  2019-12-25       30991.35  ...    126261.46     6444.60  2019
25     29  2019-12-26       29560.78  ...    170117.94     9210.98  2019
26     30  2019-12-27       43891.83  ...    194864.09     9969.50  2019
27     31  2019-12-28       42700.63  ...    185070.82    10983.17  2019
28     32  2019-12-29       38450.52  ...    170229.67     9848.49  2019
29     33  2019-12-30       41725.71  ...    189995.31    10168.98  2019
30     34  2019-12-31       46312.42  ...    208372.07    11740.19  2019

[31 rows x 7 columns]

In [0]:
start_time_green.to_csv('/content/drive/My Drive/DV_data/green_taxi_analysis.csv')

In [0]:
start_time_green.to_json(orient='records')

'[{"start_time":"2019-12-01","trip_distance":32156.3400000001,"passenger_count":13048.0,"fare_amount":153787.8199999999,"tip_amount":11013.21,"year":"2019"},{"start_time":"2019-12-02","trip_distance":45471.7100000001,"passenger_count":14714.0,"fare_amount":206936.7300000024,"tip_amount":12935.13,"year":"2019"},{"start_time":"2019-12-03","trip_distance":52533.1900000002,"passenger_count":15462.0,"fare_amount":242161.6100000022,"tip_amount":14416.29,"year":"2019"},{"start_time":"2019-12-04","trip_distance":56757.4100000001,"passenger_count":15946.0,"fare_amount":260132.2900000032,"tip_amount":15111.55,"year":"2019"},{"start_time":"2019-12-05","trip_distance":136802.1699999998,"passenger_count":17043.0,"fare_amount":282098.5200000037,"tip_amount":17254.0599999999,"year":"2019"},{"start_time":"2019-12-06","trip_distance":49592.8399999998,"passenger_count":18307.0,"fare_amount":283350.6100000018,"tip_amount":17262.2899999999,"year":"2019"},{"start_time":"2019-12-07","trip_distance":49347.6600000001,"passenger_count":18704.0,"fare_amount":241445.250000002,"tip_amount":18406.8899999998,"year":"2019"},{"start_time":"2019-12-08","trip_distance":42533.7399999999,"passenger_count":14114.0,"fare_amount":206689.6600000007,"tip_amount":13501.7199999999,"year":"2019"},{"start_time":"2019-12-09","trip_distance":45562.4,"passenger_count":15089.0,"fare_amount":239994.790000002,"tip_amount":14143.58,"year":"2019"},{"start_time":"2019-12-10","trip_distance":51029.2800000001,"passenger_count":15528.0,"fare_amount":261113.7200000017,"tip_amount":14641.34,"year":"2019"},{"start_time":"2019-12-11","trip_distance":51565.36,"passenger_count":15717.0,"fare_amount":258267.2800000006,"tip_amount":15168.7999999999,"year":"2019"},{"start_time":"2019-12-12","trip_distance":55191.08,"passenger_count":17469.0,"fare_amount":285828.3100000031,"tip_amount":16955.67,"year":"2019"},{"start_time":"2019-12-13","trip_distance":56284.1399999997,"passenger_count":19186.0,"fare_amount":280918.3000000017,"tip_amount":18563.19,"year":"2019"},{"start_time":"2019-12-14","trip_distance":51673.8199999999,"passenger_count":17913.0,"fare_amount":246155.1600000017,"tip_amount":17979.89,"year":"2019"},{"start_time":"2019-12-15","trip_distance":45315.09,"passenger_count":14915.0,"fare_amount":213129.7299999998,"tip_amount":14619.76,"year":"2019"},{"start_time":"2019-12-16","trip_distance":49353.36,"passenger_count":15353.0,"fare_amount":243800.1100000012,"tip_amount":14291.76,"year":"2019"},{"start_time":"2019-12-17","trip_distance":52190.1999999998,"passenger_count":15744.0,"fare_amount":248104.8400000004,"tip_amount":15161.36,"year":"2019"},{"start_time":"2019-12-18","trip_distance":55838.7499999997,"passenger_count":15944.0,"fare_amount":264761.2599999998,"tip_amount":15777.2,"year":"2019"},{"start_time":"2019-12-19","trip_distance":58888.1100000003,"passenger_count":17821.0,"fare_amount":272830.1500000001,"tip_amount":18218.9,"year":"2019"},{"start_time":"2019-12-20","trip_distance":58468.5599999999,"passenger_count":17924.0,"fare_amount":273822.6499999994,"tip_amount":17385.3299999999,"year":"2019"},{"start_time":"2019-12-21","trip_distance":50394.9499999997,"passenger_count":16274.0,"fare_amount":222349.9900000008,"tip_amount":14449.9199999999,"year":"2019"},{"start_time":"2019-12-22","trip_distance":41913.49,"passenger_count":12615.0,"fare_amount":185189.8800000004,"tip_amount":10810.98,"year":"2019"},{"start_time":"2019-12-23","trip_distance":47129.7700000001,"passenger_count":14409.0,"fare_amount":213879.840000001,"tip_amount":11506.8099999999,"year":"2019"},{"start_time":"2019-12-24","trip_distance":42650.0600000001,"passenger_count":14824.0,"fare_amount":191476.8100000006,"tip_amount":9884.3,"year":"2019"},{"start_time":"2019-12-25","trip_distance":30991.35,"passenger_count":8305.0,"fare_amount":126261.4599999993,"tip_amount":6444.6,"year":"2019"},{"start_time":"2019-12-26","trip_distance":29560.7799999999,"passenger_count":11707.0,"fare_amount":170117.9400000004,"tip_amount":9210.98,"year":"2019"},{"start_time":"2019-12-27","trip_distance":43891.8300000001,"passenger_count":12971.0,"fare_amount":194864.0899999997,"tip_amount":9969.5,"year":"2019"},{"start_time":"2019-12-28","trip_distance":42700.63,"passenger_count":13541.0,"fare_amount":185070.8200000002,"tip_amount":10983.17,"year":"2019"},{"start_time":"2019-12-29","trip_distance":38450.5200000001,"passenger_count":11565.0,"fare_amount":170229.6699999997,"tip_amount":9848.49,"year":"2019"},{"start_time":"2019-12-30","trip_distance":41725.7099999998,"passenger_count":13557.0,"fare_amount":189995.3100000011,"tip_amount":10168.98,"year":"2019"},{"start_time":"2019-12-31","trip_distance":46312.4200000001,"passenger_count":16256.0,"fare_amount":208372.0700000011,"tip_amount":11740.19,"year":"2019"}]'

In [0]:
yellow_taxi_replaced = yellow_taxis.replace({'PULocationID': taxi_zones_dict}).replace({'DOLocationID': taxi_zones_dict})

In [0]:
yellow_taxi_replaced

         VendorID tpep_pickup_datetime  ... total_amount  congestion_surcharge
0             1.0  2019-12-01 00:26:58  ...        18.30                   2.5
1             1.0  2019-12-01 00:12:08  ...         3.80                   0.0
2             1.0  2019-12-01 00:25:53  ...         3.80                   0.0
3             1.0  2019-12-01 00:12:03  ...        39.80                   0.0
4             1.0  2019-12-01 00:05:27  ...        12.80                   2.5
...           ...                  ...  ...          ...                   ...
6896312       NaN  2019-12-31 00:07:00  ...        41.99                   0.0
6896313       NaN  2019-12-31 00:20:00  ...        61.30                   0.0
6896314       NaN  2019-12-31 00:50:00  ...        47.69                   0.0
6896315       NaN  2019-12-31 00:38:19  ...        51.03                   0.0
6896316       NaN  2019-12-31 00:21:00  ...        48.17                   0.0

[6896317 rows x 18 columns]

In [0]:
yellow_taxi_replaced.rename(columns={"PULocationID": "source", "DOLocationID": "target"}).groupby(["source", "target"]).size().to_frame(name='value').reset_index().to_json(orient='records')

'[{"source":"Bronx","target":"Bronx","value":6077},{"source":"Bronx","target":"Brooklyn","value":878},{"source":"Bronx","target":"EWR","value":4},{"source":"Bronx","target":"Manhattan","value":4923},{"source":"Bronx","target":"Queens","value":1055},{"source":"Bronx","target":"Staten Island","value":21},{"source":"Bronx","target":"Unknown","value":163},{"source":"Brooklyn","target":"Bronx","value":1082},{"source":"Brooklyn","target":"Brooklyn","value":48212},{"source":"Brooklyn","target":"EWR","value":89},{"source":"Brooklyn","target":"Manhattan","value":24029},{"source":"Brooklyn","target":"Queens","value":5834},{"source":"Brooklyn","target":"Staten Island","value":133},{"source":"Brooklyn","target":"Unknown","value":509},{"source":"EWR","target":"Bronx","value":1},{"source":"EWR","target":"EWR","value":764},{"source":"EWR","target":"Manhattan","value":13},{"source":"EWR","target":"Queens","value":2},{"source":"EWR","target":"Unknown","value":159},{"source":"Manhattan","target":"Bronx","value":32806},{"source":"Manhattan","target":"Brooklyn","value":172336},{"source":"Manhattan","target":"EWR","value":15529},{"source":"Manhattan","target":"Manhattan","value":5818649},{"source":"Manhattan","target":"Queens","value":216624},{"source":"Manhattan","target":"Staten Island","value":1239},{"source":"Manhattan","target":"Unknown","value":16550},{"source":"Queens","target":"Bronx","value":7715},{"source":"Queens","target":"Brooklyn","value":63957},{"source":"Queens","target":"EWR","value":451},{"source":"Queens","target":"Manhattan","value":237998},{"source":"Queens","target":"Queens","value":151399},{"source":"Queens","target":"Staten Island","value":482},{"source":"Queens","target":"Unknown","value":10631},{"source":"Staten Island","target":"Bronx","value":6},{"source":"Staten Island","target":"Brooklyn","value":51},{"source":"Staten Island","target":"Manhattan","value":63},{"source":"Staten Island","target":"Queens","value":48},{"source":"Staten Island","target":"Staten Island","value":107},{"source":"Staten Island","target":"Unknown","value":12},{"source":"Unknown","target":"Bronx","value":140},{"source":"Unknown","target":"Brooklyn","value":860},{"source":"Unknown","target":"EWR","value":206},{"source":"Unknown","target":"Manhattan","value":16368},{"source":"Unknown","target":"Queens","value":1777},{"source":"Unknown","target":"Staten Island","value":10},{"source":"Unknown","target":"Unknown","value":36355}]'

In [0]:
yellow_taxi_replaced.rename(columns={"PULocationID": "source", "DOLocationID": "target"}).groupby(["source", "target"]).size()

source         target
Bronx          Bronx               6077
               Brooklyn             878
               EWR                    4
               Manhattan           4923
               Queens              1055
               Staten Island         21
               Unknown              163
Brooklyn       Bronx               1082
               Brooklyn           48212
               EWR                   89
               Manhattan          24029
               Queens              5834
               Staten Island        133
               Unknown              509
EWR            Bronx                  1
               EWR                  764
               Manhattan             13
               Queens                 2
               Unknown              159
Manhattan      Bronx              32806
               Brooklyn          172336
               EWR                15529
               Manhattan        5818649
               Queens            216624
               Staten Island       1239
               Unknown            16550
Queens         Bronx               7715
               Brooklyn           63957
               EWR                  451
               Manhattan         237998
               Queens            151399
               Staten Island        482
               Unknown            10631
Staten Island  Bronx                  6
               Brooklyn              51
               Manhattan             63
               Queens                48
               Staten Island        107
               Unknown               12
Unknown        Bronx                140
               Brooklyn             860
               EWR                  206
               Manhattan          16368
               Queens              1777
               Staten Island         10
               Unknown            36355
dtype: int64

In [0]:
yellow_taxis['start_time'] = yellow_taxis['tpep_pickup_datetime'].apply(convert_timestamp_to_date)

In [0]:
yellow_taxis["start_time"].unique()

array(['2019-12-01', '2019-11-30', '2008-12-31', '2090-12-31',
       '2019-12-02', '2019-12-03', '2058-12-02', '2019-12-24',
       '2020-01-14', '2020-02-04', '2020-02-26', '2019-12-04',
       '2019-12-05', '2019-12-06', '2019-12-26', '2020-01-17',
       '2020-02-07', '2020-02-28', '2020-03-21', '2020-04-11',
       '2020-05-02', '2020-05-03', '2020-05-24', '2020-02-08',
       '2020-02-29', '2019-12-07', '2019-12-27', '2019-12-28',
       '2020-01-18', '2009-01-01', '2020-03-01', '2020-02-09',
       '2020-04-13', '2019-12-08', '2019-12-29', '2020-01-19',
       '2020-03-02', '2020-03-23', '2020-05-05', '2020-05-26',
       '2020-06-16', '2020-07-08', '2019-12-09', '2019-12-10',
       '2019-12-31', '2020-01-21', '2019-12-12', '2019-12-11',
       '2020-01-02', '2020-01-23', '2020-02-13', '2020-03-06',
       '2020-02-14', '2019-12-13', '2019-12-14', '2019-12-17',
       '2019-12-18', '2020-01-04', '2020-01-25', '2020-02-16',
       '2019-12-15', '2020-03-08', '2020-03-29', '2019-12-16',
       '2020-02-17', '2020-03-09', '2020-03-31', '2020-04-21',
       '2020-05-12', '2020-06-03', '2020-01-06', '2020-01-27',
       '2026-12-16', '2020-01-28', '2020-02-18', '2020-04-01',
       '2020-04-22', '2020-01-07', '2066-12-17', '2019-12-19',
       '2019-12-20', '2019-12-21', '2019-12-22', '2019-12-23',
       '2019-12-25', '2019-12-30', '2020-01-01'], dtype=object)

In [0]:
start_time_yellow = yellow_taxis.groupby("start_time")['trip_distance', 'passenger_count', 'fare_amount', 'tip_amount'].sum().reset_index()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [0]:
start_time_yellow["year"] = start_time_yellow['start_time'].apply(get_year)

In [0]:
indexNames = start_time_yellow[(start_time_yellow['year'] != '2019') | (start_time_yellow['start_time'] == '2019-11-30')].index
 
start_time_yellow.drop(indexNames , inplace=True)
start_time_yellow.reset_index()

    index  start_time  trip_distance  ...  fare_amount  tip_amount  year
0       3  2019-12-01      616841.25  ...   2537348.10   407268.26  2019
1       4  2019-12-02      659000.61  ...   2865801.86   491847.14  2019
2       5  2019-12-03      756338.58  ...   3429992.72   596285.73  2019
3       6  2019-12-04      770266.76  ...   3514514.49   616918.53  2019
4       7  2019-12-05      822516.97  ...   3850063.58   677117.40  2019
5       8  2019-12-06      800896.05  ...   3776110.03   648582.52  2019
6       9  2019-12-07      729208.63  ...   3451423.61   561221.01  2019
7      10  2019-12-08      719880.93  ...   3060895.41   502880.02  2019
8      11  2019-12-09      689796.89  ...   3219569.22   558050.08  2019
9      12  2019-12-10      718467.29  ...   3464320.36   614818.36  2019
10     13  2019-12-11      762825.46  ...   3626330.53   648855.29  2019
11     14  2019-12-12      838814.56  ...   4031954.03   717105.83  2019
12     15  2019-12-13      770337.20  ...   3947828.11   687538.94  2019
13     16  2019-12-14      728202.50  ...   3439815.76   569931.53  2019
14     17  2019-12-15      736102.92  ...   3171224.06   522413.48  2019
15     18  2019-12-16      681806.05  ...   3536939.94   543358.28  2019
16     19  2019-12-17      694019.04  ...   3331046.94   588013.28  2019
17     20  2019-12-18      747274.35  ...   3576852.14   631172.29  2019
18     21  2019-12-19      805691.34  ...   3834390.92   677945.09  2019
19     22  2019-12-20      782562.18  ...   3653617.72   622111.49  2019
20     23  2019-12-21      637315.99  ...   2852954.05   456647.03  2019
21     24  2019-12-22      552351.28  ...   2405500.69   359264.27  2019
22     25  2019-12-23      530323.76  ...   2404300.78   361442.08  2019
23     26  2019-12-24      450302.57  ...   1930554.97   283328.35  2019
24     27  2019-12-25      346255.49  ...   1378853.60   189372.04  2019
25     28  2019-12-26      475854.83  ...   2002412.43   286739.51  2019
26     29  2019-12-27      539740.85  ...   2320386.77   331222.40  2019
27     30  2019-12-28      552390.33  ...   2374193.22   332152.52  2019
28     31  2019-12-29      557714.53  ...   2306821.66   332162.62  2019
29     32  2019-12-30      535018.10  ...   2306889.90   342569.29  2019
30     33  2019-12-31      496247.29  ...   2114319.80   320527.36  2019

[31 rows x 7 columns]

In [0]:
start_time_yellow.to_json(orient='records')

'[{"start_time":"2019-12-01","trip_distance":616841.2499999899,"passenger_count":288794.0,"fare_amount":2537348.1000000201,"tip_amount":407268.2600000056,"year":"2019"},{"start_time":"2019-12-02","trip_distance":659000.6099999978,"passenger_count":309996.0,"fare_amount":2865801.8600000325,"tip_amount":491847.1400000129,"year":"2019"},{"start_time":"2019-12-03","trip_distance":756338.5799999965,"passenger_count":367717.0,"fare_amount":3429992.7200000342,"tip_amount":596285.7300000144,"year":"2019"},{"start_time":"2019-12-04","trip_distance":770266.7599999988,"passenger_count":369311.0,"fare_amount":3514514.4900000319,"tip_amount":616918.5300000013,"year":"2019"},{"start_time":"2019-12-05","trip_distance":822516.9699999924,"passenger_count":405218.0,"fare_amount":3850063.5800000406,"tip_amount":677117.3999999987,"year":"2019"},{"start_time":"2019-12-06","trip_distance":800896.0500000081,"passenger_count":417782.0,"fare_amount":3776110.0300000669,"tip_amount":648582.5200000085,"year":"2019"},{"start_time":"2019-12-07","trip_distance":729208.6299999931,"passenger_count":431097.0,"fare_amount":3451423.6100000395,"tip_amount":561221.0100000172,"year":"2019"},{"start_time":"2019-12-08","trip_distance":719880.9300000183,"passenger_count":353426.0,"fare_amount":3060895.4100000444,"tip_amount":502880.0200000338,"year":"2019"},{"start_time":"2019-12-09","trip_distance":689796.8899999947,"passenger_count":333685.0,"fare_amount":3219569.2200000403,"tip_amount":558050.0800000159,"year":"2019"},{"start_time":"2019-12-10","trip_distance":718467.2900000012,"passenger_count":364956.0,"fare_amount":3464320.3600000557,"tip_amount":614818.3599999965,"year":"2019"},{"start_time":"2019-12-11","trip_distance":762825.4600000171,"passenger_count":396802.0,"fare_amount":3626330.5300000519,"tip_amount":648855.2900000028,"year":"2019"},{"start_time":"2019-12-12","trip_distance":838814.5600000069,"passenger_count":413183.0,"fare_amount":4031954.0300000631,"tip_amount":717105.8299999996,"year":"2019"},{"start_time":"2019-12-13","trip_distance":770337.200000005,"passenger_count":420566.0,"fare_amount":3947828.1100000585,"tip_amount":687538.9399999904,"year":"2019"},{"start_time":"2019-12-14","trip_distance":728202.4999999974,"passenger_count":424502.0,"fare_amount":3439815.7600000519,"tip_amount":569931.5300000021,"year":"2019"},{"start_time":"2019-12-15","trip_distance":736102.9200000083,"passenger_count":373511.0,"fare_amount":3171224.0600000382,"tip_amount":522413.4800000205,"year":"2019"},{"start_time":"2019-12-16","trip_distance":681806.0500000097,"passenger_count":351124.0,"fare_amount":3536939.9400000516,"tip_amount":543358.2800000154,"year":"2019"},{"start_time":"2019-12-17","trip_distance":694019.0399999828,"passenger_count":379040.0,"fare_amount":3331046.9400000484,"tip_amount":588013.2800000132,"year":"2019"},{"start_time":"2019-12-18","trip_distance":747274.3499999957,"passenger_count":394606.0,"fare_amount":3576852.1400000574,"tip_amount":631172.2899999971,"year":"2019"},{"start_time":"2019-12-19","trip_distance":805691.3400000089,"passenger_count":425646.0,"fare_amount":3834390.9200000511,"tip_amount":677945.0899999974,"year":"2019"},{"start_time":"2019-12-20","trip_distance":782562.179999995,"passenger_count":415907.0,"fare_amount":3653617.7200000747,"tip_amount":622111.4900000205,"year":"2019"},{"start_time":"2019-12-21","trip_distance":637315.9899999943,"passenger_count":364366.0,"fare_amount":2852954.0500000399,"tip_amount":456647.030000005,"year":"2019"},{"start_time":"2019-12-22","trip_distance":552351.2800000026,"passenger_count":287509.0,"fare_amount":2405500.6900000283,"tip_amount":359264.2700000016,"year":"2019"},{"start_time":"2019-12-23","trip_distance":530323.7600000021,"passenger_count":280383.0,"fare_amount":2404300.7800000347,"tip_amount":361442.08,"year":"2019"},{"start_time":"2019-12-24","trip_distance":450302.5699999981,"passenger_count":263145.0,"fare_amount":1930554.9699999853,"tip_amount":283328.3499999997,"year":"2019"},{"start_time":"2019-12-25","trip_distance":346255.4900000055,"passenger_count":167775.0,"fare_amount":1378853.5999999924,"tip_amount":189372.0399999978,"year":"2019"},{"start_time":"2019-12-26","trip_distance":475854.8300000047,"passenger_count":238060.0,"fare_amount":2002412.429999999,"tip_amount":286739.5099999946,"year":"2019"},{"start_time":"2019-12-27","trip_distance":539740.8500000079,"passenger_count":275267.0,"fare_amount":2320386.7700000261,"tip_amount":331222.3999999976,"year":"2019"},{"start_time":"2019-12-28","trip_distance":552390.3300000019,"passenger_count":287520.0,"fare_amount":2374193.2200000281,"tip_amount":332152.5199999997,"year":"2019"},{"start_time":"2019-12-29","trip_distance":557714.5300000041,"passenger_count":271719.0,"fare_amount":2306821.6600000262,"tip_amount":332162.619999995,"year":"2019"},{"start_time":"2019-12-30","trip_distance":535018.1000000071,"passenger_count":274615.0,"fare_amount":2306889.900000026,"tip_amount":342569.2899999995,"year":"2019"},{"start_time":"2019-12-31","trip_distance":496247.2900000085,"passenger_count":268342.0,"fare_amount":2114319.7999999989,"tip_amount":320527.3600000004,"year":"2019"}]'